body,
input,
select,
textarea,
button
{
	font-size: 1em;
	line-height: 1.3;
	font-family: sans-serif;
}

.view
{
	background-color: 		#252525 /*{b-page-background-color}*/;
	border-color:	 		#454545 /*{b-page-border}*/;
	color: 					#fff /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ 	#111 /*{b-page-shadow-color}*/;
	
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	height: 99.9%;
	
}

.page
{
	background-color: 		#252525 /*{b-page-background-color}*/;
	border-color:	 		#454545 /*{b-page-border}*/;
	color: 					#fff /*{b-page-color}*/;
	text-shadow: 0 /*{b-page-shadow-x}*/ 1px /*{b-page-shadow-y}*/ 0 /*{b-page-shadow-radius}*/ 	#111 /*{b-page-shadow-color}*/;
	
	padding: 0;
	margin: 0;	
	
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	display: none;
	border: 0;	
	
	outline: none;
	
	display: block;	
}

@media screen and (orientation: portrait) {
	.page {
		min-height: 420px;
	}
}
@media screen and (orientation: landscape) {
	.page {
		min-height: 300px;
	}
}

.header
{
	border-width: 1px 0;
	border-style: solid;
	position: relative;
	
	background-color: 		#1d1d1d /*{b-bar-background-color}*/;
	border-color:	 		#1b1b1b /*{b-bar-border}*/;
	color: 					#fff /*{b-bar-color}*/;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ 	#111 /*{b-bar-shadow-color}*/;
	font-weight: bold;	
}

.title
{
	font-size: 1em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 30%;
	padding: .7em 0;
	white-space: nowrap;
	outline: 0 !important;
	
}

.content
{
	border-width: 0;
	padding: 1em;	
}

.link {
    color: #2ad;
	font-weight: 700;
	text-decoration: underline;
    cursor: auto;
}