<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" android:resizeable="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

<!-- Android TV -->
<!--
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.gamepad" android:required="true" />
-->

	<uses-feature android:name="android.hardware.gamepad" android:required="false" />

    <application android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
        android:allowClearUserData="true" android:hardwareAccelerated="true"
		android:isGame="true"
		android:banner="@drawable/banner"
        android:requestLegacyExternalStorage="true" android:maxSdkVersion="29"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:hasFragileUserData="true"
        >
<!-- META QUEST -->
<!--
        <activity android:name="com.seleuco.mame4droid.MAME4droid"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:launchMode="singleTask"
                  android:exported="true"
			      android:screenOrientation="landscape"
                  android:windowSoftInputMode="stateAlwaysHidden" android:theme="@style/Theme.MAME4droid">
-->
<!-- PLAY STORE -->

		<activity android:name="com.seleuco.mame4droid.MAME4droid"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:launchMode="singleTask"
			android:exported="true"
			android:windowSoftInputMode="stateAlwaysHidden" android:theme="@style/Theme.MAME4droid">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
				<data android:mimeType="application/x-7z-compressed"/>
				<data android:host="*" android:scheme="file" android:maxSdkVersion="23"/>
                <data android:host="*" android:scheme="content" />
            </intent-filter>
        </activity>

		<activity android:name="com.seleuco.mame4droid.prefs.UserPreferences" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Settings"/>
		<activity android:name="com.seleuco.mame4droid.WebHelpActivity" android:launchMode="singleTop" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Help"/>
		<activity android:name="com.seleuco.mame4droid.prefs.DefineKeys" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Define Keys"/>
		<activity android:name="com.seleuco.mame4droid.prefs.ListKeys" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Player Keys"/>
		<activity android:name="com.seleuco.mame4droid.prefs.KeySelect" android:label="Select Key" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>
